$background: #F1F3F6;
$white: #fff;

/* Action */
$success: #c3dfa7;
$error: #f399a3;
$red: #e1001a;

/* Gradients */
// $gradient-blue: linear-gradient(271deg, rgba(0, 170, 255, 0.5), rgba(0, 170, 255, 0.9));


/* Fonts */
$font-bold: 800;
$font-medium: 500;
$font-news: 400;
$font-book: 300;
$font-book-italic: italic;