@font-face {
    font-family: 'URW';
    src: url('../fonts/URWImperialT-ExtrBold.woff2') format('woff2'),
        url('../fonts/URWImperialT-ExtrBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'URW';
    src: url('../fonts/URWImperialW01-Regular.woff2') format('woff2'),
        url('../fonts/URWImperialW01-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

